* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./images");
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover;
}

.navbar {
    background-color: #177bcc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.664);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.logito {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.logo {
    color: rgb(245, 241, 241);
    font-size: 1.5rem;
    font-weight: 200;
}

.container {
    display: flex;
    padding: 50px 50px;
    height: 750px;
    flex-direction: column;
}

.titulo {
    display: flex;
    height: 130px;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    background-color:#B69D54;
    color: #ffffff;
    border-radius: 2%;
    font-size: 15px;
}
.boton{
    text-decoration: none;
    display: inline-block; 
    padding: 12px 24px; 
    background-color:#B69D54;
    color: white        ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px; 
    transition: background-color 0.8s ease;
}
.boton:hover{
    background-color: #9e853a;
    color: rgb(214, 214, 213);
}
.contenedor_tarjetas{
   text-align: center;
   padding: 20px;
 }
.box {
   display: inline-block;
   width: 300px;
   height: 200px;
   background-color:#177BCC ;
   color: white;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
}